    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        text-decoration: none;
        list-style: none;
        border: none;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: hsl(252, 30%, 15%);
        background: hsl(252, 30%, 93%);
    }

    /* .......................Start Custom Style....................... */
    .selffo-container {
        width: 90%;
        height: 2rem;
        margin: 0 auto;
    }
    .logo-img{
        width: auto;
        height: 3rem;
    }

    .img-profile {
        display: block;
        width: 100%;
    }

    .profile-picture {
        width: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-picture:hover{
        opacity: 0.75;
    }

    .post-button {
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
        border-radius: 2rem;
        font-size: 0.9rem;
        font-weight: 400;
        transition: 300ms ease all;
        background: hsl(252, 75%, 60%);
        color: hsl(252, 30%, 100%);
    }
    .post-button:hover {
        opacity: 0.75;
    }
    .text-bold{
        font-weight: 500;
    }
    .text-gry{
        color: hsl(252, 15%, 60%);
    }

    /* .......................End Custom Style....................... */

    /* ..............................................Start Header...................................................... */

    /* ---------------------Start Navbar------------------------- */
    nav{
        background: #fffbfb;
        width: 100%;
        position: fixed;
        top: 0;
        z-index:10;
        padding: .7rem 0;
        background: hsl(252, 30%, 100%);
    }
    .nav-selffo-container{
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }
    nav .social-search-bar{
        padding: .6rem 1rem;
        background: hsl(252, 30%, 93%);
        border-radius: 2rem;
        display: flex;
        align-items: center;
    }
    nav .social-search-bar input[type="social-search"]{
        background: transparent;
        width: 30vw;
        margin-left: 1rem;
        font-size: .9rem;
        color: hsl(252, 30%, 15%);
    }
    nav .social-search-bar input[type="social-search"]::placeholder{
        color: hsl(252, 15%, 60%);
    }

    .add-post{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    /* ---------------------End Navbar------------------------- */
    /* --------------------------------End Header------------------------------------------ */

    /* Responsive CSS for smartphones */
    @media (max-width: 576px) {
        .selffo-container{
            height: 1.5rem;
        }

        .logo-img {
            height: 2rem;
            content: url('img/mb-logo.png');
        }

        nav .social-search-bar {
            padding: .6rem 7.5rem .6rem .6rem;
            width: auto;
            
        }

        nav .social-search-bar input[type="social-search"] {
            display: none;
        }

        
        
        .add-post {
            justify-content: right;
            gap: 0.2rem;
        }

        .post-button {
            padding: 10px 10px;
            font-size: 0.8rem;
        }

        .profile-picture {
            width: 2.5rem;
        }
    }